/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 100px;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  ul{
      list-style: none;
  }

  body{
      background: #009900;
  }

  a{
      cursor: pointer;
  }

  .mat-list-item{
    background: #fff;
    cursor: pointer;
    margin-bottom: 5px;
  }